<div class="{{ div_css }}">
<!--a id="btn-ckeditor-file-browser-{{ id }}" type="button" data-toggle="modal" data-target="#ckeditor-file-browser-{{ id }}" href="#">Fichiers du serveur</a-->
{% include "django/forms/widgets/textarea.html" %}

<!--textarea data-processed="0" data-config="{{ config }}" data-id="{{ id }}" data-type="ckeditortype">{{ value }}</textarea-->

<div class="modal fade" id="ckeditor-file-browser-{{ id }}" tabindex="-1" role="dialog" aria-labelledby="ckeditorfilebrowser-{{ id }}" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable h-100">
        <div class="modal-content">
            <div class="modal-body">
                <div class="div_title"></div>
                <div class="div_page">
                    <iframe src="{{ browse_url }}" allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-site-light" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</div>
